.redpwd{
    min-width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.username, .redpassword{
    width: 350px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.redpwdInput{
    width: 200px;
}

.redpwdButton{
    margin-top: 15px;
    width: 300px;
    border: none;
    height: 25px;
    cursor: pointer;
    color: #282c34;
    font-weight: bold;
}

.redpwdButton:hover{
    background-color: #b7caf0;
}

.redpwdButton:active{
    background-color: #282c34;
    color: white;
}
