.positive{
    color: rgb(0, 184, 0);
    font-weight: bold;
}

.negative{
    color: red;
    font-weight: bold;
}

.stock-search{
    display: flex;
    min-width: 80%;
    max-height: 220px;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #473c26;
    color: #f0d24e;
    border-radius: 1px;
    /* -webkit-box-shadow: 3px 5px 9px 5px rgba(0,0,0,0.26);  */
    /* box-shadow: 3px 5px 9px 5px rgba(0,0,0,0.26); */
}

.stock-search-info{
    width: 100%;
}

.stock-search-info-sub{
    display: flex;
    height: 50px;
    width: 100%;
    margin: 0;
    justify-content: space-around;
}

.stock-search-value{
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: space-around;
    width: 100%;
}

.stock-search-value p{
    margin: 0;
}

.stock-search-value-title{
    display: flex;
    margin: 0;
}


.stock-search-btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    align-self: flex-start;
    padding: 20px 5px;
}

.stock-search-title{
    margin: 5px;
}